
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

    .btn:hover {
        background: var(--green);
        letter-spacing: .1rem;
    }


section:nth-child(even) {
    background: #eee;
}

.order form {
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

    .order form .inputBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .order form .inputBox .input {
            width: 49%;
        }

            .order form .inputBox .input span {
                display: block;
                padding: .5rem 0;
                font-size: 1.5rem;
                color: var(--light-color);
            }

            .order form .inputBox .input input,
            .order form .inputBox .input textarea {
                background: #eee;
                border-radius: .5rem;
                padding: 1rem;
                font-size: 1.6rem;
                color: var(--black);
                text-transform: none;
                margin-bottom: 1rem;
                width: 100%;
            }

                .order form .inputBox .input input:focus,
                .order form .inputBox .input textarea:focus {
                    border: .1rem solid var(--green);
                }

            .order form .inputBox .input textarea {
                height: 20rem;
                resize: none;
            }

    .order form .btn {
        margin-top: 0;
    }

/*.form-register {
    width: 1000px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

    .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

    .form-register a:hover {
        color: white;
        text-decoration: underline;
    }

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}*/
@import url("https://fonts.googleapis.com/css?family=Roboto");

.checkout_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    width: 100%;
    background: rgba(225,225,225,0.35);
    padding: 30px;
    border-radius: 25px;
}

.card_number {
    margin-bottom: 25px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid #9e9e9e;
    border: 0;
    text-align: center;
}

.card_number .input {
    width: 100%;
    text-align: left;
}


.card_grp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


.expiry_date,
.cvc {
    width: 48%;
    display: flex;
}

    .expiry_date .expiry_input {
        width: 60px;
        margin-right: 10px;
    }

.cvc {
    justify-content: flex-end;
    align-items: center;
}

    .cvc .cvc_input {
        width: 80px;
        margin-right: 10px;
    }


.cvc_img {
    border: 2px solid #fff;
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
}

    .cvc_img .img {
        position: absolute;
        width: 100px;
        height: 80px;
        padding: 10px 10px 5px;
        border-radius: 3px;
        top: -30px;
        right: 33px;
        background: #064887;
        display: none;
    }

        .cvc_img .img img {
            width: 100%;
            height: 100%;
        }

    .cvc_img:hover .img {
        display: block;
    }

.btnss {
    width: 100%;
    background: #064887;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
}

::-webkit-input-placeholder {
    Chrome /Opera/Safari color: #064887;
}

::-moz-placeholder {
    Firefox 19+ color: #064887;
}

:-ms-input-placeholder {
    IE 10+ color: #064887;
}



@media screen and (max-width: 420px) {
    .card_grp {
        flex-direction: column;
    }

    .expiry_date {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 25px;
    }

        .expiry_date .expiry_input {
            width: 48%;
            margin: 0;
        }

    .cvc {
        width: 100%;
        justify-content: space-between;
    }

        .cvc .cvc_input {
            width: 48%;
        }

    .cvc_img .img {
        right: 26px;
    }
}



Credit Card Validator
#card-container {
    position: relative;
    width: 100%;
}

#logo {
    width: 46px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 7px;
}

.visa {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 0 no-repeat;
}

.mastercard {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -30px no-repeat;
}

.amex {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -60px no-repeat;
}

.diners {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -90px no-repeat;
}

.discover {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -120px no-repeat;
}

.shopping {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -150px no-repeat;
}

.naranja {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -180px no-repeat;
}

.qida {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -210px no-repeat;
}

.clubdia {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -240px no-repeat;
}

.musicred {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -270px no-repeat;
}

.nevada {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -300px no-repeat;
}

.tuya {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -330px no-repeat;
}

.laanonima {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -360px no-repeat;
}

.crediguia {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -390px no-repeat;
}

.patagonia {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -410px no-repeat;
}

.sol {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -440px no-repeat;
}

.cabal {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -470px no-repeat;
}

.cencosud {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -500px no-repeat;
}

.credimas {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -530px no-repeat;
}

.carrefour {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -560px no-repeat;
}

.grupar {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -590px no-repeat;
}

.wishgift {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -610px no-repeat;
}

.unknown {
    background: url("https://jscardvalidator-mpccmwdwqf.now.sh/cards_sprite_compressed_30.jpg") 0 -640px no-repeat;
}
