@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Food / Resturant Website Design Tutorial</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom css file link  -->
    <!--<link rel="stylesheet" href="~/css/EstiloCarrito.css">-->
    <link rel="stylesheet" href="~/css/OrdenStyle.css" />

</head>
<body>

    <section class="form-register">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">¿Ya tengo Cuenta?</a></p>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <p class="auto-style3">
            <input checked="checked" name="pago1" type="radio" value="Ventanilla" />
            &nbsp;
            <span class="auto-style4">
                Pagar en efectivo
            </span>
        </p>
        <p class="auto-style3">
            <input  name="pago1" type="radio" value="Deposito" />
            <span class="auto-style4">
                Pagar con tarjeta
            </span>
        </p>
        <div id="div1" class="checkout_form">
            <div class="card_number" id="card-container">
                <input type="text" class="input" id="card" placeholder="0000 0000 0000 0000">
                <div id="logo"></div>
            </div>
            <div class="card_grp">
                <div class="expiry_date">
                    <input type="text" class="expiry_input" data-mask="00" placeholder="00">
                    <input type="text" class="expiry_input" data-mask="00" placeholder="00">
                </div>
                <div class="cvc">
                    <input type="text" class="cvc_input" data-mask="000" placeholder="000">
                    <div class="cvc_img">
                        ?
                        <div class="img">
                            <img src="https://i.imgur.com/2ameC0C.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn">
                pay
            </div>
        </div>

        <div id="div2" style="display:none;">
            <center>
                <span>Has seleccionado ventanilla</span>
            </center>
        </div>


    </section>
    <script>
        $(document).ready(function () {
            $("input[type=radio]").click(function (event) {
                var valor = $(event.target).val();
                if (valor == "Deposito") {
                    $("#div1").show();
                    $("#div2").hide();
                } else if (valor == "Ventanilla") {
                    $("#div1").hide();
                    $("#div2").show();
                } else {
                    // Otra cosa
                }
            });
        });

    </script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="~/js/OrdenScrip.js"></script>
</body>
</html>
