@using RestaurantOnline.Helper
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Restaurant</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header class="header">
        <a href="#" class="logo"> <i class="fas fa-utensils"></i> FastFood </a>
        <nav class="navbar">
            <a href="#home">Inicio</a>
            <a href="#menu">Menú</a>
            <a href="#order">ordenar</a>
        </nav>

        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <a asp-controller="Products" asp-action="Menu"><div id="cart-btn" class="fas fa-hamburger"></div></a>
            <a asp-controller="Products" asp-action="RegresarC"><div id="cart-btn" class="fas fa-shopping-cart"></div></a>

            @if (User.Identity.IsAuthenticated)
            {
                <div id="login-btn" class="fas fa-user" onclick="menuToggle();"></div>
                <div class="menuP">
                    <h3>@LoginHelper.GetName(User)</h3>
                    <ul>
                        <li><i class="fas fa-edit"></i> <a href="#">Mi perfil</a></li>
                        <li><i class="fas fa-sign-out-alt"></i> <a asp-action="LogOt" asp-controller="Authentication">Cerrar secion</a></li>

                    </ul>
                </div>
            }
            else
            {
                <a asp-controller="Authentication" asp-action="LogIn"><div id="login-btn" class="fas fa-users-slash"></div></a>
            }

        </div>

    </header>

    <section class="home" id="home">
        <div class="content">
            <span>Bienvenido a FastFood</span>
            <h3>Diferentes comidas para distintos gustos 😋</h3>
            <p>SIEMPRE LISTA PARA COMER TODO EL AÑO</p>
            <a asp-controller="Products" asp-action="Menu" class="btn">ordena ahora</a>
        </div>

        <div class="image">
            <img src="~/image/Burrito.png" alt="" class="home-img">
            <img src="~/image/home-parallax-img.png" alt="" class="home-parallax-img">
        </div>

    </section>

    <section class="category">

        <a href="#" class="box">
            <img src="~/image/croisam.jpg" alt="">
            <h3>Desayunos</h3>
        </a>

        <a href="#" class="box">
            <img src="~/image/hotdogs-m.jpg" alt="">
            <h3>Almuerzos</h3>
        </a>

        <a href="#" class="box">
            <img src="~/image/gringas.jpg" alt="">
            <h3>Cenas</h3>
        </a>

        <a href="#" class="box">
            <img src="~/image/cheesecake.jpg" alt="">
            <h3>Postres</h3>
        </a>

        <a href="#" class="box">
            <img src="~/image/Sodas.png" alt="">
            <h3>Bebidas</h3>
        </a>

    </section>

    <section class="menu" id="menu">

        <div class="heading">
            <span>Nuestro Menú</span>
            <h3>Nuestros principales platillos</h3>
        </div>

        <div class="box-container">

            <a href="#" class="box">
                <img src="~/image/menu-1.png" alt="">
                <div class="content">
                    <h3>Hamburguesa</h3>
                    <div class="price">$4.50</div>
                </div>
            </a>

            <a href="#" class="box">
                <img src="~/image/pizzaa.png" alt="">
                <div class="content">
                    <h3>Pizza</h3>
                    <div class="price">$6.00</div>
                </div>
            </a>

            <a href="#" class="box">
                <img src="~/image/gringas.jpg" alt="">
                <div class="content">
                    <h3>Rapiditas</h3>
                    <div class="price">$5.75</div>
                </div>
            </a>

            <a href="#" class="box">
                <img src="~/image/Sodas.png" alt="">
                <div class="content">
                    <h3>Sodas</h3>
                    <div class="price">$1.50</div>
                </div>
            </a>

            <a href="#" class="box">
                <img src="~/image/pankaques.png" alt="">
                <div class="content">
                    <h3>Pancakes</h3>
                    <div class="price">$5.50</div>
                </div>
            </a>

            <a href="#" class="box">
                <img src="~/image/pastel-de-tres-leches.jpg" alt="">
                <div class="content">
                    <h3>Tres leches</h3>
                    <div class="price">$2.00</div>
                </div>
            </a>

        </div>

    </section>

    <section class="order" id="order">

        <div class="heading">
            <span>ordena ahora</span>
            <h3>entrega a domicilio más rápida</h3>
        </div>

        <div class="icons-container">

            <div class="icons">
                <img src="~/image/icon-1.png" alt="">
                <h3>8:00am a 10:00pm</h3>
            </div>

            <div class="icons">
                <img src="~/image/icon-2.png" alt="">
                <h3>+503 23011789</h3>
            </div>

            <div class="icons">
                <img src="~/image/icon-3.png" alt="">
                <h3>El salvador, Chalatenango</h3>
            </div>

        </div>


    </section>

    <section class="footer">

        <div class="bottom">

            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>

            <div class="credit"> 
            creado por <span>alumnos de programación 2 </span> | <a asp-controller="Copyright" asp-action="Terminos">Todos los derechos reservados </a>
            </div>

        </div>

    </section>

    <div class="loader-container">
        <img src="~/image/loader.gif" alt="">
    </div>

    <script src="~/js/script.js"></script>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menuP')
            toggleMenu.classList.toggle('active')
        }
    </script>

</body>
</html>

